<style>
body{
    background: #6B0015;
}
</style>


<div class = "main">
    <div class = "container">
    <h2>Hello, James. </h2>
    <h2>We had so much fun last year, I decided to come back.</h2>
    <h2> Let's play a little game together.</h2>

        <a href = "/riddle1"><button class = "submit-btn">Start</button></a>
        
    </div>
</div>