<style>
body{
    background: #4AD400;
}
</style>

<div class = "main">
    <div class = "container">
        <div class = "answer">
            <h3>The chest of treasure that you seek</h3>
            <h3>Hides in a room that's cold and meek</h3>
            <h3>Half outside and half inside</h3>
            <h3>You'll need to cross the great divide</h3>
        </div>
    </div>
</div>