<style>
body{
    background: black;
}
</style>

<div class = "main">
	<div class = "container">

		<div class = "win-photo photo4"></div>

		<a href = "/riddle5"><button class = "submit-btn">Continue</button></a>


	</div>
</div>